@import url(https://fonts.bunny.net/css?family=roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*
========================================
              VARIABLES
========================================
*/

:root {
  /* ===== Colors ===== */
  --color-text-primary: #1f2937;
  --color-text-secondary: #656d79;
  --color-accent: #1992d4;
  --color-accent-contrast: #ffffff;
  --color-bg-main: #e2e8f0;
  --color-bg-surface: #ffffff;
  --color-border-accent: #f0b429;

  /* ===== Typography ===== */
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* ===== Radius ===== */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 20px;

  /* ===== Shadows ===== */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* ===== Layout ===== */
  --sidebar-width: 250px;
  --header-height: 70px;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-regular);
  color: var(--color-text-primary);
}

/* 
========================================
              MAIN-CONTAINER
========================================
*/

.main-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
}

/* 
========================================
              SIDEBAR
========================================
*/

.sidebar {
  grid-column: 1;
  grid-row: 1/3;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  background-color: var(--color-accent);
  color: var(--color-accent-contrast);

  height: 100%;

  font-weight: var(--fw-medium);
}

.hero-container {
  display: flex;
  gap: 1rem;
  justify-content: left;
  align-items: center;

  padding: 10px;
}

.hero-text {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.hero-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-accent-contrast);
}

.nav-list li {
  list-style: none;
  margin: 0.75rem 0;
}

.nav-item {
  display: flex;
  gap: 1rem;

  justify-content: start;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-accent-contrast);
}

.nav-item svg {
  width: var(--fs-300);
  height: var(--fs-300);
  fill: var(--color-accent-contrast);
}


/* 
========================================
              HEADER
========================================
*/

.header {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 16px;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* 
========================================
              MAIN-CONTENT
========================================
*/

.main-content {
  grid-column: 2;
  grid-row: 2;
}

/* 
========================================
              MAIN-CONTENT - HEADER
========================================
*/

.home {
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-main);
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100px;
  padding: 0 24px;
  background-color: var(--color-bg-surface);

  box-shadow: var(--shadow-md);
}

.home-header-left,
.home-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

/* 
========================================
              MAIN-CONTENT - CONTENT LAYOUT / STYLING
========================================
*/

.content {
  display: grid;
  grid-template-columns: 2.75fr 1fr;
  gap: 20px;
  padding: 16px;
}

.projects {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.announcements {
  grid-column: 2;
}

.trending {
  grid-column: 2;
}

.section-title {
  font-size: var(--fs-400);
  margin-bottom: 8px;
}

/* 
========================================
              MAIN-CONTENT - PROJECTS
========================================
*/

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* 
========================================
              MAIN-CONTENT - ANNOUNCEMENTS
========================================
*/

.announcements-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 28px;

  background-color: var(--color-bg-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}


/* 
========================================
              MAIN-CONTENT - TRENDING
========================================
*/

.trending-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 20px;

  background-color: var(--color-bg-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}